# LOOP

# 1.FOR LOOP

In [5]:
# FOR LOOP

students=['naveen','mathan','kathir','nithish']
for  x in students:
    print(x)

naveen
mathan
kathir
nithish

In [8]:
# for loop through a string

for x in "naveen":
    print(x)

n
a
v
e
e
n

In [18]:
# break statement in for loop
 
students=['naveen','mathan','kathir','nithish']
for  x in students:
    print(x)
    if x=='kathir':
        break

naveen
mathan
kathir

In [17]:
subjects=['tamil','englsih','maths','science','social']
for  x in subjects:
    if x=='maths':
        break
    print(x)

tamil
englsih

In [21]:
# continue statement


students=['naveen','mathan','kathir','nithish']
for x in students:
    if x=='kathir':
        continue
    print(x)

naveen
mathan
nithish

In [22]:
subjects=['tamil','englsih','maths','science','social']
for  x in subjects:
    if x=='maths':
        continue
    print(x)

tamil
englsih
science
social

In [26]:
# range function

for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
for i in range(100,105):
    print(i)

100
101
102
103
104

In [28]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [32]:
#else in for loop
for x in range(6):
    print(x)
else:
    print("**Ended**")

0
1
2
3
4
5
**Ended**

In [38]:
for x in range(11):
    if x==0:continue
    print(x)
else:
    print("Ended")

1
2
3
4
5
6
7
8
9
10
Ended

In [43]:
# Nested loop

color=['red','yellow','green','white','black']
things=['apple','saree','land','snow','stone']

for x in color:
    for y in things:
        print(x, y)

red apple
red saree
red land
red snow
red stone
yellow apple
yellow saree
yellow land
yellow snow
yellow stone
green apple
green saree
green land
green snow
green stone
white apple
white saree
white land
white snow
white stone
black apple
black saree
black land
black snow
black stone

In [45]:
#pass statement


for x in['1,2,3']:
    pass

In [46]:
for x in ['car','bike','cycle']:
    pass

# having an empty for loop like this,would raise an error without the pass statement